<div class="" data-actor-id="{{ownerId}}" {{#if tokenId}} data-token-id="{{tokenId}}"{{/if}}>
    <div class="spell-roll">
        {{> "systems/runescape-kingdoms/templates/chat/parts/roll-base.hbs"}}

        <div class="spell-description">
            {{!-- triple brackets to not escape HTML --}}
            {{!-- description of the spell --}}
            {{{extra.spell.system.description}}}
        </div>
        {{#if extra.spell.system.hasDamage}}
            <div class="spell-damages">
                <h3>{{localize "Rolls.Damage"}}</h3>
                {{#each extra.spell.system.damageTypes as |damage key| }}
                    {{#if (greater damage.value 0)}}
                        <div class="spell-damage {{key}}">
                            {{localize (lookup  @root.config.spellDamage key)}}: {{damage.value}}
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        {{/if}}
    </div>
</div>