<div class="" data-actor-id="{{ownerId}}" {{#if tokenId}} data-token-id="{{tokenId}}"{{/if}}>
    <div class="prayer-roll">
        {{> "systems/runescape-kingdoms/templates/chat/parts/roll-base.hbs"}}

        <div class="prayer-description">
            {{!-- triple brackets to not escape HTML --}}
            {{!-- description of the spell --}}
            {{{extra.prayer.system.description}}}
        </div>
        <div class="prayer-turns-container">
            <button class="prayer-turns" data-roll="{{extra.prayer.system.turns}}">{{localiseArg "RUNESCAPE_KINGDOMS.SheetLabels.ActiveForXTurns" extra.translationObject }}</button>
        </div>
        
    </div>
</div>