<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Description</a>
    <a class='item' data-tab='attributes'>Attributes</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      <div class='resource spell-resource'>
        <label class='resource-label'>Spell Type</label>
        <select name='system.spellType'>
          {{selectOptions @root.config.SPELL_TYPES selected=system.spellType localize=true }}
        </select>
      </div>

      {{#if (equals system.spellType "combat")}}
      <div class="resource spell-resource spell-damages">
        <label class='resource-label'>Spell Damage</label>
        <div class='spell-damages grid grid-4col'>
        {{#each @root.system.damageTypes as |damageType key|}}
            <div class="damageType flex-group-center">
              <label for="damageTypes.{{key}}.value" class="resource-label" data-label="{{localize (lookup @root.config.spellDamage key)}}" data-damage-type="{{key}}">{{localize (lookup @root.config.spellDamage key)}}</label>
              <div class="resource-content flexrow flex-center flex-between"></div>
              <div class="damageType-number-wrap">
                <div class="damageType-number"></div>
                <input class="damageType-number-text" type="text" name="system.damageTypes.{{key}}.value" value="{{damageType.value}}" data-dtype="Number" />
              </div>
            </div>
        {{/each}}
        </div>
      </div>
      {{/if}}
      
      
    </div>
  </section>
</form>